#: schema https://esm.sh/wrangler/config-schema.json
# https://developers.cloudflare.com/workers/wrangler/configuration

# start of globally inheritable configuration
#
name = "exp-0003-server-dev"
main = "./src/main.ts"
minify = true
keep_vars = true
placement = { mode = "smart" }
compatibility_date = "2025-01-29"
compatibility_flags = ["nodejs_compat", "nodejs_als"]

#
# end of globally inheritable configuration

workers_dev = true
vars = { ENVIRONMENT = "development" }

[dev]
port = 6900

[[d1_databases]]
binding = "DB"
database_name = "offline-demo-txs"
database_id = "80b220b8-9f1d-4179-8383-ddeeeac6fcf0"

[[durable_objects.bindings]]
name = "SCHEDULER"
class_name = "Scheduler"

[[migrations]]
# Should be unique for each entry
tag = "v1"
new_classes = ["Scheduler"]

[env.production]
name = "exp-0003-server"
workers_dev = true
vars = { ENVIRONMENT = "production" }

[[env.production.d1_databases]]
binding = "DB"
database_name = "offline-demo-txs"
database_id = "bcc90687-1428-41ca-8825-20d84358e256"

[observability]
enabled = true
